# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Flutter / Dart
# -----------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication
app.*.symbols
app.*.map.json

# Android
/android/app/debug/
/android/app/profile/
/android/app/release/

# iOS
Pods/
.flutter-plugins
.flutter-plugins-dependencies

# -----------------------------
# IDE
# -----------------------------
.idea/
*.iml
.vscode/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.egg-info/
dist/
wheels/

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env
.env.*
!.env.example

# -----------------------------
# Misc
# -----------------------------
*.swp
.history/
.atom/
.svn/
.build/
.buildlog/
.swiftpm/
migrate_working_dir/